ul {
    display: flex;
    justify-content: space-evenly;
    background-color: crimson;
}

li {
    width: 115px;
    border-radius: 50%;
    background-color: #f1964d;
    transition: 1s;
}

li:hover {
    scale: calc(1.2);
    transition: 1.1s;
}