*{
    margin: 0;
    padding: 0;
}


div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background-color: crimson;
    color: aliceblue;
}

body{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}